.dashboard {
  display: grid;
  grid-template-areas:
    "news news prices"
    "news news prices"
    "ai-insight ai-insight meme";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1.2rem;
}

.section h2 {
  margin: 0 0 0.6rem 0;
}

.section {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  max-height: 300px;
  overflow: auto;
}
.section-1 {
  grid-area: news;
}

.section-2 {
  grid-area: prices;
}

.section-3 {
  grid-area: ai-insight;
  max-height: 400px;
}

.section-3 .content{
  overflow: auto;
  text-align: left;
}

.section-2 .content {
  display: grid;
  grid-template-columns: repeat(3, 1.2fr);
  gap: 1rem;
  justify-items: center;
  width: 75%;
  margin: 0 auto;
}

.coin-price {
  background: rgb(57, 55, 70);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 90px;
  text-align: center;
}
.coin-symbol {
  display: block;
  font-size: 1rem;
  color: #878383;
  margin-bottom: 0.1rem;
}

.coin-value {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
}

.feedback {
  margin-top: auto;
}

.section-4 {
  grid-area: meme;
  max-height: 400px;
}

.section-4 .content {
  overflow: auto;
}

.meme {
  max-width: 250px;
  max-height: 250px;
}
